*{
    margin: 0;
    padding: 0;
}

ol, ul{
    list-style: none;
}

a, a:hover{
    text-decoration: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

/* menu part start */

#menu{
    background: url(../images/bannar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#menu .menus ul{
    display: flex;
    gap: 24px;
    justify-content: center;
}

#menu .menus ul li{
    padding: 60px 0;
}
#menu .menus ul li a{
    color: #ffffff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
#menu .menus ul li .underline{
    position: relative;
}

#menu .menus ul li .underline::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #ffffff;
    top: 110%;
    left: 0%;
}

/* Bannar part start */


#bannar{
    padding-top: 100px;
    padding-bottom: 200px;
    position: relative;
}

#bannar .logo{
    text-align: center;
}

#bannar .logo img{
    width: 119px;
    height: 119px;
}

#bannar p.silver{
    font-family: brushwell ;
    font-size: 80px;
    color: #ffffff;
    text-align: center;
    position: relative;
}

#bannar p.silver::after{
    content: '';
    position: absolute;
    width: 351px;
    height: 1px;
    background: #ffffff;
    top: 90%;
    left: 35%;
}

#bannar p.love{
    font-family: RedVelvet;
    font-size: 100px;
    color: #ffffff;
    text-align: center;
}

#bannar .lorem{
    font-family: LouisGeorgeCafe;
    font-size: 19px;
    color: #ffffff;
    width: 813px;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
}

/* social coding here */

#bannar .social{
    position: absolute;
    top: 35%;
    right: 0;
}


#bannar .social ul li a{
    color: #ffffff;
    font-size: 16px;
    line-height: 50px;
}

/* About Me section start here */
#About_me{
    padding: 80px 0;
}


#About_me .flex_used{
    display: flex;
    justify-content: center;
}

#About_me .flex_used .image_part{
    padding-right: 45px
}
#About_me .flex_used .image_part img{
    width: 303px;
    height: 303px;
}
#About_me .flex_used .text{
    padding-left: 30px;
    position: relative;
}
#About_me .flex_used .text::after{
    position: absolute;
    content: '';
    width: 1px;
    background: #000;
    height: 368px;
    top: -10%;
    left: 0%;
}

#About_me .flex_used .text h2{
    font-size: 50px;
    color: #000;
    padding-bottom: 10px;
}

#About_me .flex_used .text p {
    width: 500px;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 35px;
}

#About_me .flex_used .text a{
    padding: 15px 20px;
    border: 1px solid #000;
    color: #000;
    text-transform: uppercase;
}
/* Protfolio Part Start */

#portfolio{
    padding: 80px 0;
    background:#998b8b;
    background-image: url(../images/protfolio-part-flower-image.png);
    background-size: cover;
    text-align: center;
}

#portfolio .portfolio_top h1{
    font-size: 50px;
    color: #ffffff;

}
#portfolio .portfolio_top h3{
    color: #ffffff;
    font-size: 80px;
    font-weight: lighter;
    position: relative;
    display: inline-block;
}

#portfolio .portfolio_top h3:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #ffffff;
        top: 100%;
        display: block;
}

#portfolio .portfolio_top p {
    margin: 0 auto;
    font-size: 25px;
    padding: 20px 0;
    letter-spacing: 1px;
    line-height: 22px;
}


#portfolio .portfolio_top a{
    padding: 7px 50px;
    border: 1px solid #000;
    text-transform: uppercase;
    color: #000;
    display: inline-block;
}


/* Image_part start */
#image_part{
    padding: 40px 0;
}
#image_part .All_image .first_line_image img{
    display: block;
    padding-bottom: 20px;
    padding-right: 20px;
}

#image_part .All_image .second_line_image img{
    display: block;
    padding-bottom: 20px;
    padding-right: 20px;
}

#image_part .All_image .thirth_line_image img{
    display: block;
    padding-bottom: 20px;
    padding-right: 20px;
}
#image_part .All_image img{
    max-width: 100%;
    height: auto;
}


#image_part .All_image{
    display: flex;
}


/* video part start */

#video_part{
    background-image: url(../images/Videopart_background_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}

#video_part h1{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    padding-bottom: 30px;
    position: relative;
}


#video_part h1:after {
    content: '';
    position: absolute;
    width: 146px;
    height: 2px;
    background: #ffffff;
    left: 44%;
    top: 60%;
    margin-top: 10px;
}


#video_part p {
    text-align: center;
    width: 517px;
    margin: 0 auto;
    font-size: 17px;
    letter-spacing: 3px;
    line-height: 24px;
}
















